.encabezado {
    background-color: rgb(243, 243, 4);
    height: 110px;
    display: flex;
    align-items: center;
}

.logo {
    height: 90px;
    padding-left: 200px;
    padding-right: 200px;
}

.buscador {
    height: 25px;
    width: 450px;
    border-radius: 5px;
    /* padding-left: 1000px; */
}

.carrito {
    height: 40 px;
    width: 40px;
    padding-left: 40px;
}