.nav {
    background-color: rgb(47, 47, 110);
    height: 40px;
    border-bottom: white solid 1px;
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: rgb(47, 47, 110);
    color: white;
    border: none;
}

button:hover {
    color:rgb(214, 184, 15)
}