.footer {
    background: rgb(255,175,0);
    background: -moz-linear-gradient(90deg, rgba(255,175,0,1) 1%, rgba(240,233,12,1) 78%);
    background: -webkit-linear-gradient(90deg, rgba(255,175,0,1) 1%, rgba(240,233,12,1) 78%);
    background: linear-gradient(90deg, rgba(255,175,0,1) 1%, rgba(240,233,12,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaf00",endColorstr="#f0e90c",GradientType=1);
    font-size: 15px;
    height: 200px;
    .footerCentro {
        .button {
            background-color: transparent;
            border: none;
            font-size: 15px;
            color: black;
        }
        .button:hover {
            color: white;
            text-shadow: 1px 1px 2px black;
        }
        grid-area: centro;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footerDer {
        grid-area: der;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .alineoFooterDer {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .imgFooter {
                height: 50px;
                width: 50px;               
            }
            .alinearFooter {
                padding-left: 15px;
                width: 120px;
            }
        }
    }
    .footerIzq {
        grid-area: izq;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding-left: 50px;
    }
    display: grid;
    grid-template-columns: 30% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "izq centro der";
    justify-content: center;
}

